@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");

  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root {
  --clr-primary-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-raspberry: hsl(332, 51%, 32%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-rose-white: hsl(330, 100%, 98%);
  --clr-neutral-eggshell: hsl(30, 54%, 90%);
  --clr-neutral-light-grey: hsl(30, 18%, 87%);
  --clr-neutral-wenge-brown: hsl(30, 10%, 34%);
  --clr-neutral-dark-charcoal: hsl(24, 5%, 18%);
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-neutral-eggshell);
  display: grid;
  place-items: center;
  font-family: "Outfit";
  line-height: 1.5em;
}

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 600;
  color: var(--clr-neutral-dark-charcoal);
  line-height: 1em;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
  color: var(--clr-primary-nutmeg);
}

h3 {
  color: var(--clr-primary-raspberry);
  font-weight: 600;
}

li,
p {
  color: var(--clr-neutral-wenge-brown);
}

ol li::marker {
  font-weight: 600;
}

ul,
ol {
  padding-inline: 1.25rem;
}

li {
  padding-left: 1.5rem;
  margin-block: 0.5rem;
}

li::marker {
  color: var(--clr-primary-nutmeg);
}

main {
  width: 45%;
  background-color: var(--clr-neutral-white);
  border-radius: 0.75rem;
  padding: 3rem;
  margin-block: 6rem;
}

img {
  border-radius: 0.75rem;
  max-width: 100%;
}

.bold {
  font-weight: 600;
}

.description {
  margin-block-end: 2rem;
}

.prep {
  background-color: hsl(332, 51%, 32%, 0.075);
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.75rem;
}

.prep li::marker {
  color: var(--clr-primary-raspberry);
}

.nutrition-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-content: start;
}

.nutrition-row p:nth-child(2n) {
  color: var(--clr-primary-nutmeg);
  font-weight: 600;
  margin-inline: 0.5rem;
}

.nutrition-row p:nth-child(2n + 1) {
  margin-inline-start: 2rem;
}

.nutrition-row:not(:last-child),
.instructions,
.ingredients {
  border-bottom: 1px solid var(--clr-neutral-light-grey);
}

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
    width: 100%;
    place-content: start;
    align-items: start;
  }
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  h1 {
    line-height: 1em;
  }

  img {
    border-radius: 0;
  }

  main *:not(img) {
    padding-inline: 1rem 0.5rem;
  }
  .bold {
    padding-inline: 0;
  }
  .nutrition-row p:nth-child(2n + 1) {
    margin-inline-start: 0;
  }
  .prep ul {
    padding-inline: 2rem;
  }
}
